@import url("base.css");
@import url("header.css");
@import url("footer.css");

.main__form-nome--valid,
.main__form-sobrenome--valid,
.main__form-cpf--valid,
.main__form-email--valid,
.main__form-senha--valid,
.main__form-numero--valid,
.main__form-cep--valid {
    display: none;
}

.main__form-nome--invalid,
.main__form-sobrenome--invalid,
.main__form-cpf--invalid,
.main__form-email--invalid,
.main__form-senha--invalid,
.main__form-numero--invalid,
.main__form-cep--invalid {
    display: inline;
}

.main__form {
    width: 100% !important;
}

@media (min-width: 1200px) {
    .main__form {
        width: 50% !important;
    }
}